@media (max-width: 360px){
    body{
        max-width: 360px;
        overflow-x:scroll;
        touch-action: pan-y;
        
        
    }
    header{
        width: 500px;
        padding:10px;
        margin-top:-70px;
        left: -15px;
        display: flex;
        justify-content:flex-start;
        margin-left: 15px;
        font-size: 14px;
    }
    
    .menu-toggle {
        display: block;
    
    }
    
    .navegacao ul{
        gap: 18px;
        position: relative;
        bottom: 20px;
        margin-left: 10px;
    }
    .pagina1{
        margin-left: 0;
        height: 710px;
        width: 360px;
        margin-top: 70px;
    }
    /*CSS DA PRIMERIA PAGINA*/

    .pagina1 .titulo{
        width: 280px;
        font-size: 32px;
        text-align: center;
        margin-left: 40px;
        margin-bottom: 50px;
    }
    .pagina1 .descricao{
        font-size: 16px;
        width: 320px;
        margin-left: 20px;
    }
    .pagina1 .fotopagina{
        height: 300px;
        position: relative;
        bottom: -20px;
        left: 105px;
    }
    .pagina1 .botao{
        font-size: 10px;
        margin-left: 100px;
    }
    /*CSS DA SEGUNDA PAGINA*/

    .pagina2{
        
        margin-left: 0;
        width: 360px;
        height: 750px;
        
        
    }
    .pagina2 .titulo1{
        font-size: 25px;
        margin-left: 115px;
    }
    .pagina2 .conteudo2{
        width: 80%;
        font-size: 16px;
        position: relative;
        left: 40px;
        top: 90px;
    }
    .pagina2 .lomafoto{
        height: 35%;
        position: relative;
        bottom: 0;
        top: 110px;
        left: 100px;
    }
    /*CSS DA TERCEIRA PAGINA*/
    .a1{
        width: 360px;
        height: 1050px;
    }
    .pagina3{
        width: 360px;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        
        
        
    }
    .pagina3 .paleta{
        margin-left: 30px;
        height: 10%;
        width: 310px;
        position: relative;
        bottom: 60px;
        

    }
    .pagina3 .paleta .titulo2{
        font-size: 22px;
    }
    .pagina3 .paleta .titulo3{
        font-size: 15px;
    }
    .pagina3 .swiper{
        position: relative;
        height: 600px;
        width: 190%;
        left: 20px;
    
    }
    .swiper-slide  .foto{
        height: 200px;
    }
    .swiper-slide  .valor1{
        font-size: 20px;
        
    }
    .swiper-slide .lista1{
        font-size: 14px;
    }
    .swiper-slide  .bt-pagina01{
        margin-left: 90px;
    }
    .swiper-slide  .bt-pagina02{
        margin-left: 90px;
    }
    .swiper-slide .bt-pagina03{
        margin-left: 90px;
    }
    /*CSS DA QUARTA PAGINA*/
    .pagina4{
        width: 480px;
        height: 100%;
        display: block;
        margin-left: 5px;
    }
    .work1{
        width: 200px;
        color: white;
        font-size: 22px;
        position: relative;
        right: 480px;
        top: 40px;

    }
    .pagina4 .swiper {
        background:#141111; 
        width: 80%;
        height: 55%;
        padding-top: 200px;
        margin-left: -20px;
        padding-bottom: 50px;
        margin-top: 50px;
        box-shadow: 0px 0px 3px 0px rgba(136,136,136,1);
    
    }
    
    footer{
        width: 360px;
        margin-top: 80px;
        
    
    }
    .informacoes .grid-container{
        width: 25%;
        position: relative;
        left: 5px;
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        text-align: center;
        gap: 18px;
        
    }
    .informacoes .grid-item .custom-underline{
        font-size: 14px;
    }
    .informacoes .grid-item .final{
        font-size: 13px;
    }
    .informacoes .dev1{
        position: relative;
        left: 100px;
        font-size: 12px;
    }
    .informacoes .dev2{
        position: relative;
        left: 150px;
        font-size: 16px;
    }
}


/*CSS PARA TELAS MÉDIAS*/
@media (min-width: 361px) and (max-width: 768px){
    body{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow-x:hidden;
        touch-action: pan-y;
        
    }
    header{
        width: 500px;
        padding: 25px;
        margin-top: 0px;
        left: -15px;
        display: flex;
        justify-content:flex-start;
        margin-left: 15px;
        font-size: 14px;
        
        }
        
        .menu-toggle {
            display: block;
            position: absolute;
            z-index: 2000;
            left: 6px;
            top: 15px;
        }
        .dropdown{
            position: absolute;
            z-index: 100;
        }
    
        .navegacao ul{
            gap: 0px;
            position: relative;
            bottom: -20px;
            left: 20px;
        }
        .pagina1{
            margin-left: 0;
            height: 710px;
            width: 30%;
            margin-top: 25px;
            
        }
/*CSS DA PRIMERIA PAGINA*/
        .pagina1 .titulo{
            width: 280px;
            font-size: 32px;
            text-align: center;
            margin-left: 75px;
            margin-bottom: 50px;
        }
        .pagina1 .descricao{
            font-size: 16px;
            width: 400px;
            margin-left: 35px;
        }
        .pagina1 .descricao p{
            margin-left: 20px;       
            width: 100%;
            max-width: 80%;
            word-wrap: break-word;
            box-sizing: border-box;
            white-space: normal;
        }
        
        .pagina1 .fotopagina{
            height: 300px;
            position: relative;
            bottom: -60px;
            left: 85px;
        }
        .pagina1 .botao{
            font-size: 10px;
            margin-left: 130px;
        }
        /*CSS DA SEGUNDA PAGINA*/
        .pagina2{
            margin-left: 0;
            width: 35%;
            height: 750px;
            margin-top: 70px;

            
            
        }
        .pagina2 .titulo1{
            font-size: 25px;
            margin-left: 140px;
        }
        .pagina2 .conteudo2{
            width: 60%;
            font-size: 16px;
            position: relative;
            left: 60px;
            top: 90px;
        }
        .pagina2 .lomafoto{
            height: 35%;
            position: relative;
            bottom: 0;
            top: 110px;
            left: 130px;
        }
        /*CSS DA TERCEIRA PAGINA*/
        .a1{
            height: 1070px;
        }
        .pagina3{
            width: 30%;
            height: 900px;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            
            
            
            
        }
        .pagina3 .paleta{
            margin-left: 50px;
            height: 10%;
            width: 320px;
            position: relative;
            bottom: 80px;
            
    
        }
        .pagina3 .paleta .titulo2{
            font-size: 22px;
        }
        .pagina3 .paleta .titulo3{
            font-size: 15px;
        }
        .pagina3 .swiper{
            position: relative;
            left: 50px;
            height: 600px;
            width:700px ;
        
        }
        .swiper-slide .foto{
            height: 200px;
        }
        .swiper-slide .valor1{
            font-size: 20px;
            
        }
        .swiper-slide .lista1{
            font-size: 14px;
        }
        .swiper-slide .bt-pagina01{
            margin-left: 90px;
        }
        .swiper-slide .bt-pagina02{
            margin-left: 90px;
        }
        .swiper-slide .bt-pagina03{
            margin-left: 90px;
        }
        /*CSS DA QUARTA PAGINA*/
        .pagina4{
            height: 20%;
            margin-left: 20px;
        }
        .pagina4 .swiper {
            background:#141111; 
            width: 80%;
            padding-top: 200px;
            padding-bottom: 50px;
            margin-top: 50px;
            margin-left: -385px;
            box-shadow: 0px 0px 3px 0px rgba(136,136,136,1);
        
        }
        
        .work1{
            color: white;
            font-size: 22px;
            position: relative;
            right: 480px;
            top: 40px;
            
    
        }
        footer{
            width: 450px;
        
        }
        .informacoes .grid-container{
            width: 100%;
            position: relative;
            bottom: 80px;
            left: -30px;
            display: grid;
            grid-template-columns: repeat(2,1fr) ;
            text-align: center;
            gap: 18px;
            
        }
        .informacoes .grid-item .custom-underline{
            font-size: 14px;
        }
        .informacoes .grid-item .final{
            font-size: 12px;
        }
        .informacoes .dev1{
            position: relative;
            top: 300px;
            left: 100px;
            font-size: 12px;
        }
        .informacoes .dev2{
            position: relative;
            left: 150px;
            top: 0;
            font-size: 16px;
        }
}


