@media (min-width: 1280px) {
    
    .menu-toggle {
        
        display: block;
        margin-right: 1400px;
        
    }
    .dropdown{
        position: absolute;
        z-index: 20;
    }
}